In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [14]:
#import file 
yelp_file = "Resources/yelp_business.csv"
yelp_df = pd.read_csv(yelp_file)
yelp_df.head(3)

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,1,Dentists;General Dentistry;Health & Medical;Or...
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",NaN,"""3101 Washington Rd""",McMurray,PA,15317,40.291685,-80.104900,3.0,11,1,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",NaN,"""6025 N 27th Ave, Ste 1""",Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,1,Departments of Motor Vehicles;Public Services ...

In [19]:
# remove "" from columns name and address #df.Geo.str.replace('"','')

yelp_df["name_clean"] = yelp_df.name.str.replace('"','').head()

In [4]:
# remove "" from columns name and address #df.Geo.str.replace('"','')

yelp_df["address_clean"] = yelp_df.address.str.replace('"','').head()

In [5]:
# Create a filtered dataframe from specific columns # keep: “name”, “address”, “city”, “state”, “zip_code”, “stars”, “review count”, “categories”. 
yelp_cols = ["name_clean", "address_clean", "city", "state", "postal_code", "stars", "review_count", "categories"]
yelp_transformed = yelp_df[yelp_cols].copy()

yelp_transformed.head(3)

,name_clean,address_clean,city,state,postal_code,stars,review_count,categories
0,Dental by Design,"4855 E Warner Rd, Ste B9",Ahwatukee,AZ,85044,4.0,22,Dentists;General Dentistry;Health & Medical;Or...
1,Stephen Szabo Salon,3101 Washington Rd,McMurray,PA,15317,3.0,11,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
2,Western Motor Vehicle,"6025 N 27th Ave, Ste 1",Phoenix,AZ,85017,1.5,18,Departments of Motor Vehicles;Public Services ...

In [6]:
#import file
ri_file = "Resources/restaurant_inspections.csv"
ri_df = pd.read_csv(ri_file)
ri_df.head(3)

,Serial Number,Permit Number,Restaurant Name,Location Name,Category Name,Address,City,State,Zip,Current Demerits,...,Inspection Time,Employee ID,Inspection Type,Inspection Demerits,Inspection Grade,Permit Status,Inspection Result,Violations,Record Updated,Location 1
0,DA0BEBWGS,PR0003177,7-Eleven #32224 - SNACK BAR,7-Eleven Convenience Store #32224,Snack Bar,5576 Boulder Hwy,Las Vegas,Nevada,89122-6010,3,...,02/09/2017 10:00:00 AM,EE7000559,Routine Inspection,3,A,A,'A' Grade,"215,2927",02/09/2017 10:37:14 AM,"(36.101164, 115.0522322)"
1,DA003LUQ4,PR0009484,VENETIAN MAIN KITCHEN WAREWASH,VENETIAN HOTEL & CASINO,Special Kitchen,3355 S Las Vegas Blvd,Las Vegas,Nevada,89109-8941,0,...,10/24/2017 01:30:00 PM,EE7001166,Routine Inspection,0,A,A,'A' Grade,NaN,10/24/2017 02:51:05 PM,"(36.1226902, 115.1701939)"
2,DA00DC1UZ,PR0112115,PIZZA ROCK - COOKLINE / PANTRY,PIZZA ROCK,Special Kitchen,2300 PASEO VERDE Pkwy,Henderson,Nevada,89052,5,...,10/04/2017 02:20:00 PM,EE7001125,Routine Inspection,5,A,A,'A' Grade,2954,10/06/2017 09:22:08 AM,"(36.0205397, 115.0895425)"

In [7]:
# Create a filtered dataframe from specific columns # keep:“permit code”,“Restaurant Name”, “address”, “city”, “state”, “zip”, “inspection time”, “Inspection results”, “location”
ri_cols = ["Permit Number","Restaurant Name", "Address", "City", "State", "Zip", "Inspection Time", "Inspection Result", "Location 1"]
ri_transformed = ri_df[ri_cols].copy()

ri_transformed.head(3)

,Permit Number,Restaurant Name,Address,City,State,Zip,Inspection Time,Inspection Result,Location 1
0,PR0003177,7-Eleven #32224 - SNACK BAR,5576 Boulder Hwy,Las Vegas,Nevada,89122-6010,02/09/2017 10:00:00 AM,'A' Grade,"(36.101164, 115.0522322)"
1,PR0009484,VENETIAN MAIN KITCHEN WAREWASH,3355 S Las Vegas Blvd,Las Vegas,Nevada,89109-8941,10/24/2017 01:30:00 PM,'A' Grade,"(36.1226902, 115.1701939)"
2,PR0112115,PIZZA ROCK - COOKLINE / PANTRY,2300 PASEO VERDE Pkwy,Henderson,Nevada,89052,10/04/2017 02:20:00 PM,'A' Grade,"(36.0205397, 115.0895425)"

In [8]:
#create new df with key
ri_new_key = ri_transformed

In [16]:
#create new column in new data frame with address and name to use as key
ri_new_key["Name_Key"] = ri_new_key["Restaurant Name"] + ri_new_key["Address"] 
ri_new_key.head(3)

,Permit Number,Restaurant Name,Address,City,State,Zip,Inspection Time,Inspection Result,Location 1,Name_Key
0,PR0003177,7-Eleven #32224 - SNACK BAR,5576 Boulder Hwy,Las Vegas,Nevada,89122-6010,02/09/2017 10:00:00 AM,'A' Grade,"(36.101164, 115.0522322)",7-Eleven #32224 - SNACK BAR5576 Boulder Hwy
1,PR0009484,VENETIAN MAIN KITCHEN WAREWASH,3355 S Las Vegas Blvd,Las Vegas,Nevada,89109-8941,10/24/2017 01:30:00 PM,'A' Grade,"(36.1226902, 115.1701939)",VENETIAN MAIN KITCHEN WAREWASH3355 S Las Vegas...
2,PR0112115,PIZZA ROCK - COOKLINE / PANTRY,2300 PASEO VERDE Pkwy,Henderson,Nevada,89052,10/04/2017 02:20:00 PM,'A' Grade,"(36.0205397, 115.0895425)",PIZZA ROCK - COOKLINE / PANTRY2300 PASEO VERDE...

In [17]:
#create new column in new data frame with address and name to use as key
yelp_new_key = yelp_transformed

yelp_new_key["Name_Key"] = yelp_new_key["name_clean"] + yelp_new_key["address_clean"] 
yelp_transformed.head(3)

,name_clean,address_clean,city,state,postal_code,stars,review_count,categories,Name_Key
0,Dental by Design,"4855 E Warner Rd, Ste B9",Ahwatukee,AZ,85044,4.0,22,Dentists;General Dentistry;Health & Medical;Or...,"Dental by Design4855 E Warner Rd, Ste B9"
1,Stephen Szabo Salon,3101 Washington Rd,McMurray,PA,15317,3.0,11,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...,Stephen Szabo Salon3101 Washington Rd
2,Western Motor Vehicle,"6025 N 27th Ave, Ste 1",Phoenix,AZ,85017,1.5,18,Departments of Motor Vehicles;Public Services ...,"Western Motor Vehicle6025 N 27th Ave, Ste 1"

In [ ]:
!pip install psycopg2

In [11]:
connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{connection_string}')

In [12]:
engine.name_clean()

AttributeError: 'Engine' object has no attribute 'name_clean'