In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
#import file 
yelp_file = "Resources/yelp_business.csv"
yelp_df = pd.read_csv(yelp_file)
yelp_df.head(3)

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,1,Dentists;General Dentistry;Health & Medical;Or...
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",NaN,"""3101 Washington Rd""",McMurray,PA,15317,40.291685,-80.104900,3.0,11,1,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",NaN,"""6025 N 27th Ave, Ste 1""",Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,1,Departments of Motor Vehicles;Public Services ...

In [3]:
# remove "" from columns name and address #df.Geo.str.replace('"','')

yelp_df["name_clean"] = yelp_df.name.str.replace('"','').head()

In [4]:
# remove "" from columns name and address #df.Geo.str.replace('"','')

yelp_df["address_clean"] = yelp_df.address.str.replace('"','').head()

In [5]:
# Create a filtered dataframe from specific columns # keep: “name”, “address”, “city”, “state”, “zip_code”, “stars”, “review count”, “categories”. 
yelp_cols = ["name_clean", "address_clean", "city", "state", "postal_code", "stars", "review_count", "categories"]
yelp_transformed = yelp_df[yelp_cols].copy()

yelp_transformed.head(3)

,name_clean,address_clean,city,state,postal_code,stars,review_count,categories
0,Dental by Design,"4855 E Warner Rd, Ste B9",Ahwatukee,AZ,85044,4.0,22,Dentists;General Dentistry;Health & Medical;Or...
1,Stephen Szabo Salon,3101 Washington Rd,McMurray,PA,15317,3.0,11,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
2,Western Motor Vehicle,"6025 N 27th Ave, Ste 1",Phoenix,AZ,85017,1.5,18,Departments of Motor Vehicles;Public Services ...

In [ ]:
#import file
ri_file = "Resources/restaurant_inspections.csv"
ri_df = pd.read_csv(ri_file)
ri_df.head(3)

In [ ]:
# Create a filtered dataframe from specific columns # keep:“permit code”,“Restaurant Name”, “address”, “city”, “state”, “zip”, “inspection time”, “Inspection results”
ri_cols = ["Permit Number","Restaurant Name", "Address", "City", "State", "Zip", "Inspection Time", "Inspection Result"]
ri_transformed = ri_df[ri_cols].copy()

ri_transformed.head(3)

In [ ]:
#create new df with key
ri_new_key = ri_transformed

In [ ]:
#create new column in new data frame with address and name to use as key
ri_new_key["Name_Key"] = ri_new_key["Restaurant Name"] + ri_new_key["Address"] 
ri_new_key.head(3)

In [ ]:
#create new column in new data frame with address and name to use as key
yelp_new_key = yelp_transformed

yelp_new_key["Name_Key"] = yelp_new_key["name_clean"] + yelp_new_key["address_clean"] 
yelp_transformed.head(3)

In [ ]:
connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{connection_string}')